node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
dist
build
coverage
*.md
!README.md
.dockerignore
Dockerfile
.gitkeep
.editorconfig
.eslintignore
.prettierignore
k8s
skaffold.yaml
.github
